
*.cs
Assets/_Complete-Game.unity.meta
Assets/_Completed-Assets.meta
Assets/_Completed-Assets/Animators.meta
Assets/_Completed-Assets/Animators/CompletePumpjack.controller.meta
Assets/_Completed-Assets/AudioMixers.meta
Assets/_Completed-Assets/AudioMixers/CompleteMainMix.mixer.meta
Assets/_Completed-Assets/Prefabs.meta
Assets/_Completed-Assets/Prefabs/CompleteDustTrail.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteLevelArt.prefab.meta
Assets/_Completed-Assets/Prefabs/CompletePumpJack.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteShell.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteShellExplosion.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteTank.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteTankExplosion.prefab.meta
Assets/_Completed-Assets/Scripts.meta
Assets/_Completed-Assets/Scripts/Camera.meta
Assets/_Completed-Assets/Scripts/Camera/CameraControl.cs.meta
Assets/_Completed-Assets/Scripts/Managers.meta
Assets/_Completed-Assets/Scripts/Managers/GameManager.cs.meta
Assets/_Completed-Assets/Scripts/Managers/TankManager.cs.meta
Assets/_Completed-Assets/Scripts/Shell.meta
Assets/_Completed-Assets/Scripts/Shell/ShellExplosion.cs.meta
Assets/_Completed-Assets/Scripts/Tank.meta
Assets/_Completed-Assets/Scripts/Tank/TankHealth.cs.meta
Assets/_Completed-Assets/Scripts/Tank/TankMovement.cs.meta
Assets/_Completed-Assets/Scripts/Tank/TankShooting.cs.meta
Assets/_Completed-Assets/Scripts/UI.meta
Assets/_Completed-Assets/Scripts/UI/UIDirectionControl.cs.meta
Assets/Animators.meta
Assets/Animators/Pumpjack.controller.meta
Assets/AudioClips.meta
Assets/AudioClips/BackgroundMusic.wav.meta
Assets/AudioClips/EngineDriving.aif.meta
Assets/AudioClips/EngineIdle.aif.meta
Assets/AudioClips/ShellExplosion.wav.meta
Assets/AudioClips/ShotCharging.wav.meta
Assets/AudioClips/ShotFiring.wav.meta
Assets/AudioClips/TankExplosion.wav.meta
Assets/AudioMixers.meta
Assets/AudioMixers/MainMix.mixer.meta
Assets/Editor.meta
Assets/Editor/MoveSceneViewCamera.cs.meta
Assets/Fonts.meta
Assets/Fonts/Bowlby_One.meta
Assets/Fonts/Bowlby_One/BowlbyOne-Regular.ttf.meta
Assets/Fonts/Bowlby_One/FontLicense.txt.meta
Assets/Materials.meta
Assets/Materials/Blue.mat.meta
Assets/Materials/Brown.mat.meta
Assets/Materials/BuildingGlass.mat.meta
Assets/Materials/BuildingGrey.mat.meta
Assets/Materials/BuildingMetal.mat.meta
Assets/Materials/BuildingStone.mat.meta
Assets/Materials/BuildingWhite.mat.meta
Assets/Materials/Dust.mat.meta
Assets/Materials/Explosion.mat.meta
Assets/Materials/Gold.mat.meta
Assets/Materials/Green.mat.meta
Assets/Materials/Grey.mat.meta
Assets/Materials/OilDrums.mat.meta
Assets/Materials/Red.mat.meta
Assets/Materials/Smoke.mat.meta
Assets/Materials/TankColour.mat.meta
Assets/Materials/TankGrey.mat.meta
Assets/Materials/TankLights.mat.meta
Assets/Materials/White.mat.meta
Assets/Materials/YellowDark.mat.meta
Assets/Materials/YellowLight.mat.meta
Assets/Models.meta
Assets/Models/Building01.fbx.meta
Assets/Models/Building02.fbx.meta
Assets/Models/BustedTank.fbx.meta
Assets/Models/Cactus.fbx.meta
Assets/Models/Cliff.fbx.meta
Assets/Models/Column01.FBX.meta
Assets/Models/Column02.FBX.meta
Assets/Models/Concrete.fbx.meta
Assets/Models/Cow.fbx.meta
Assets/Models/Crater01.fbx.meta
Assets/Models/Dunes01.fbx.meta
Assets/Models/Dunes02.fbx.meta
Assets/Models/Helipad.fbx.meta
Assets/Models/OilStorage.fbx.meta
Assets/Models/PalmTree.fbx.meta
Assets/Models/PumpJack.fbx.meta
Assets/Models/Radar.fbx.meta
Assets/Models/Refinery.fbx.meta
Assets/Models/Rocks01.fbx.meta
Assets/Models/Rocks02.fbx.meta
Assets/Models/Rocks03.fbx.meta
Assets/Models/Ruins01.fbx.meta
Assets/Models/Shell.fbx.meta
Assets/Models/Tank.fbx.meta
Assets/Models/Terrain.fbx.meta
Assets/Models/Tree.fbx.meta
Assets/Prefabs.meta
Assets/Prefabs/DustTrail.prefab.meta
Assets/Prefabs/LevelArt.prefab.meta
Assets/Prefabs/PumpJack.prefab.meta
Assets/Prefabs/Shell.prefab.meta
Assets/Prefabs/ShellExplosion.prefab.meta
Assets/Prefabs/Tank.prefab.meta
Assets/Prefabs/TankExplosion.prefab.meta
Assets/Profiles.meta
Assets/Profiles/GlobalProfile.asset.meta
Assets/Readme.asset.meta
Assets/Scenes.meta
Assets/Scenes/SampleScene.meta
Assets/Scenes/SampleScene.unity.meta
Assets/Scenes/SampleScene/LightingData.asset.meta
Assets/Scenes/SampleScene/ReflectionProbe-0.exr.meta
Assets/Scripts.meta
Assets/Scripts/Camera.meta
Assets/Scripts/Camera/CameraControl.cs.meta
Assets/Scripts/fire.cs.meta
Assets/Scripts/Managers.meta
Assets/Scripts/Managers/GameManager.cs.meta
Assets/Scripts/Managers/TankManager.cs.meta
Assets/Scripts/Shell.meta
Assets/Scripts/Shell/ShellExplosion.cs.meta
Assets/Scripts/Tank.meta
Assets/Scripts/Tank/TankHealth.cs.meta
Assets/Scripts/Tank/TankMovement.cs.meta
Assets/Scripts/Tank/TankShooting.cs.meta
Assets/Scripts/UI.meta
Assets/Scripts/UI/UIDirectionControl.cs.meta
Assets/Sprites.meta
Assets/Sprites/Aim Arrow.png.meta
Assets/Sprites/Health Wheel.png.meta
Assets/Sprites/Smoke.tif.meta
Assets/Tanks!_Third-PartyNotice.txt.meta
Assets/TutorialInfo.meta
Assets/TutorialInfo/Icons.meta
Assets/TutorialInfo/Icons/Help_Icon.png.meta
Assets/TutorialInfo/Icons/Tanks.png.meta
Assets/TutorialInfo/Layout.wlt.meta
Assets/TutorialInfo/Scripts.meta
Assets/TutorialInfo/Scripts/Editor.meta
Assets/TutorialInfo/Scripts/Editor/ReadmeEditor.cs.meta
Assets/TutorialInfo/Scripts/Readme.cs.meta
Library/*
Logs/Packages-Update.log
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Packages/manifest.json
Packages/packages-lock.json
Temp/*
