
*.cs
Assets/_Complete-Game.unity.meta
Assets/_Completed-Assets.meta
Assets/_Completed-Assets/Animators.meta
Assets/_Completed-Assets/Animators/CompletePumpjack.controller.meta
Assets/_Completed-Assets/AudioMixers.meta
Assets/_Completed-Assets/AudioMixers/CompleteMainMix.mixer.meta
Assets/_Completed-Assets/Prefabs.meta
Assets/_Completed-Assets/Prefabs/CompleteDustTrail.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteLevelArt.prefab.meta
Assets/_Completed-Assets/Prefabs/CompletePumpJack.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteShell.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteShellExplosion.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteTank.prefab.meta
Assets/_Completed-Assets/Prefabs/CompleteTankExplosion.prefab.meta
Assets/_Completed-Assets/Scripts.meta
Assets/_Completed-Assets/Scripts/Camera.meta
Assets/_Completed-Assets/Scripts/Camera/CameraControl.cs.meta
Assets/_Completed-Assets/Scripts/Managers.meta
Assets/_Completed-Assets/Scripts/Managers/GameManager.cs.meta
Assets/_Completed-Assets/Scripts/Managers/TankManager.cs.meta
Assets/_Completed-Assets/Scripts/Shell.meta
Assets/_Completed-Assets/Scripts/Shell/ShellExplosion.cs.meta
Assets/_Completed-Assets/Scripts/Tank.meta
Assets/_Completed-Assets/Scripts/Tank/TankHealth.cs.meta
Assets/_Completed-Assets/Scripts/Tank/TankMovement.cs.meta
Assets/_Completed-Assets/Scripts/Tank/TankShooting.cs.meta
Assets/_Completed-Assets/Scripts/UI.meta
Assets/_Completed-Assets/Scripts/UI/UIDirectionControl.cs.meta
Assets/Animators.meta
Assets/Animators/Pumpjack.controller.meta
Assets/AudioClips.meta
Assets/AudioClips/BackgroundMusic.wav.meta
Assets/AudioClips/EngineDriving.aif.meta
Assets/AudioClips/EngineIdle.aif.meta
Assets/AudioClips/ShellExplosion.wav.meta
Assets/AudioClips/ShotCharging.wav.meta
Assets/AudioClips/ShotFiring.wav.meta
Assets/AudioClips/TankExplosion.wav.meta
Assets/AudioMixers.meta
Assets/AudioMixers/MainMix.mixer.meta
Assets/Editor.meta
Assets/Editor/MoveSceneViewCamera.cs.meta
Assets/Fonts.meta
Assets/Fonts/Bowlby_One.meta
Assets/Fonts/Bowlby_One/BowlbyOne-Regular.ttf.meta
Assets/Fonts/Bowlby_One/FontLicense.txt.meta
Assets/Materials.meta
Assets/Materials/Blue.mat.meta
Assets/Materials/Brown.mat.meta
Assets/Materials/BuildingGlass.mat.meta
Assets/Materials/BuildingGrey.mat.meta
Assets/Materials/BuildingMetal.mat.meta
Assets/Materials/BuildingStone.mat.meta
Assets/Materials/BuildingWhite.mat.meta
Assets/Materials/Dust.mat.meta
Assets/Materials/Explosion.mat.meta
Assets/Materials/Gold.mat.meta
Assets/Materials/Green.mat.meta
Assets/Materials/Grey.mat.meta
Assets/Materials/OilDrums.mat.meta
Assets/Materials/Red.mat.meta
Assets/Materials/Smoke.mat.meta
Assets/Materials/TankColour.mat.meta
Assets/Materials/TankGrey.mat.meta
Assets/Materials/TankLights.mat.meta
Assets/Materials/White.mat.meta
Assets/Materials/YellowDark.mat.meta
Assets/Materials/YellowLight.mat.meta
Assets/Models.meta
Assets/Models/Building01.fbx.meta
Assets/Models/Building02.fbx.meta
Assets/Models/BustedTank.fbx.meta
Assets/Models/Cactus.fbx.meta
Assets/Models/Cliff.fbx.meta
Assets/Models/Column01.FBX.meta
Assets/Models/Column02.FBX.meta
Assets/Models/Concrete.fbx.meta
Assets/Models/Cow.fbx.meta
Assets/Models/Crater01.fbx.meta
Assets/Models/Dunes01.fbx.meta
Assets/Models/Dunes02.fbx.meta
Assets/Models/Helipad.fbx.meta
Assets/Models/OilStorage.fbx.meta
Assets/Models/PalmTree.fbx.meta
Assets/Models/PumpJack.fbx.meta
Assets/Models/Radar.fbx.meta
Assets/Models/Refinery.fbx.meta
Assets/Models/Rocks01.fbx.meta
Assets/Models/Rocks02.fbx.meta
Assets/Models/Rocks03.fbx.meta
Assets/Models/Ruins01.fbx.meta
Assets/Models/Shell.fbx.meta
Assets/Models/Tank.fbx.meta
Assets/Models/Terrain.fbx.meta
Assets/Models/Tree.fbx.meta
Assets/Prefabs.meta
Assets/Prefabs/DustTrail.prefab.meta
Assets/Prefabs/LevelArt.prefab.meta
Assets/Prefabs/PumpJack.prefab.meta
Assets/Prefabs/Shell.prefab.meta
Assets/Prefabs/ShellExplosion.prefab.meta
Assets/Prefabs/Tank.prefab.meta
Assets/Prefabs/TankExplosion.prefab.meta
Assets/Profiles.meta
Assets/Profiles/GlobalProfile.asset.meta
Assets/Readme.asset.meta
Assets/Scenes.meta
Assets/Scenes/SampleScene.meta
Assets/Scenes/SampleScene.unity.meta
Assets/Scenes/SampleScene/LightingData.asset.meta
Assets/Scenes/SampleScene/ReflectionProbe-0.exr.meta
Assets/Scripts.meta
Assets/Scripts/Camera.meta
Assets/Scripts/Camera/CameraControl.cs.meta
Assets/Scripts/fire.cs.meta
Assets/Scripts/Managers.meta
Assets/Scripts/Managers/GameManager.cs.meta
Assets/Scripts/Managers/TankManager.cs.meta
Assets/Scripts/Shell.meta
Assets/Scripts/Shell/ShellExplosion.cs.meta
Assets/Scripts/Tank.meta
Assets/Scripts/Tank/TankHealth.cs.meta
Assets/Scripts/Tank/TankMovement.cs.meta
Assets/Scripts/Tank/TankShooting.cs.meta
Assets/Scripts/UI.meta
Assets/Scripts/UI/UIDirectionControl.cs.meta
Assets/Sprites.meta
Assets/Sprites/Aim Arrow.png.meta
Assets/Sprites/Health Wheel.png.meta
Assets/Sprites/Smoke.tif.meta
Assets/Tanks!_Third-PartyNotice.txt.meta
Assets/TutorialInfo.meta
Assets/TutorialInfo/Icons.meta
Assets/TutorialInfo/Icons/Help_Icon.png.meta
Assets/TutorialInfo/Icons/Tanks.png.meta
Assets/TutorialInfo/Layout.wlt.meta
Assets/TutorialInfo/Scripts.meta
Assets/TutorialInfo/Scripts/Editor.meta
Assets/TutorialInfo/Scripts/Editor/ReadmeEditor.cs.meta
Assets/TutorialInfo/Scripts/Readme.cs.meta
Library/*
Logs/Packages-Update.log
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Packages/manifest.json
Packages/packages-lock.json
Temp/input-011f85cfd8bbf7444b52c97ffada91ec.unwrap
Temp/input-1e30972bb9127194d8b1166948b867f6.unwrap
Temp/input-1f03d939f8084fa4688840924960e19a.unwrap
Temp/input-2772a929b8dc8e54dac3222523c3be35.unwrap
Temp/input-29cf752900d4fcc4cbb1ec41c31a21a1.unwrap
Temp/input-2a163af5c4dfca54180f01d5cdda6c30.unwrap
Temp/input-2e5ce457393df5e4999a42c20a81e796.unwrap
Temp/input-3d5b802ba2d2c674cbea692e7b0227f2.unwrap
Temp/input-4601d840d958c344fab402d4274c2ef7.unwrap
Temp/input-57a13d1e4550f2947b60fb21c4bcf933.unwrap
Temp/input-68ffa5bfc8e9ad847a493fa29c67b5bb.unwrap
Temp/input-6a900e1ed81ca4347a44c6b7c0c739c1.unwrap
Temp/input-7a220415fb2ecaa45a24acc3113d73fe.unwrap
Temp/input-918f210d49516df438d489afa4a79607.unwrap
Temp/input-9258df5cb7334414c8ad89547614b917.unwrap
Temp/input-9661f2ee6aa025440ac5e766ff060591.unwrap
Temp/input-9e648178d0abc724c96c564f192fb301.unwrap
Temp/input-a192fe8b72a85fb41a3f2bef83d55e6f.unwrap
Temp/input-a2ea9395019c1d24da7d139b1d84cf57.unwrap
Temp/input-a4fced0ee76a015469faeec11d9bc71d.unwrap
Temp/input-a83429ea84ddbde4a977432af5854b6a.unwrap
Temp/input-a9a6be13e570689488eccfdca6c0b4a6.unwrap
Temp/input-b308eafa758d77346a10a4d0d4d03cc6.unwrap
Temp/input-bcff8f11ee117f24682ec43a5bf19b6a.unwrap
Temp/input-c49f3e2cbc12f8b4d9a89923a1089de6.unwrap
Temp/input-c5a5c8fc4be855f44b3d381d702ac6a1.unwrap
Temp/input-cd96eb376dc20a64382fe4264630b6e0.unwrap
Temp/input-eb68343b597543b41894531c35fce64b.unwrap
Temp/input-fbb92267d6ab620428d4dd8ba154dcc6.unwrap
Temp/output-070540fb36f0a344182631df4210edf2.unwrap
Temp/output-0d0c1ac9c5bf70944a35c83b364505a2.unwrap
Temp/output-0ea1fa42ec1395e4d9134dfcea143820.unwrap
Temp/output-1212d385528f4dd47aa01572ec8b7f17.unwrap
Temp/output-1847d3d7c37d6b84881b532dfd64e168.unwrap
Temp/output-220f0303b7a8e8047a5fa65c80c7ff96.unwrap
Temp/output-256bacedd77a8664b8c526d4aa74f009.unwrap
Temp/output-276bff5e108125a48817521af04c1333.unwrap
Temp/output-2ba98a24579ad4b4f8643b3cfb34629a.unwrap
Temp/output-39308bf97acae0948a7a036f9a1a4320.unwrap
Temp/output-49f811c62d1641741842888d5aa957a9.unwrap
Temp/output-4bfef195979d02849abc60d79fbb69e5.unwrap
Temp/output-5ac3b6047092356428f79c5bbb5b77b1.unwrap
Temp/output-5e8fc5d5e3f0ddd4a8ee9ed6e63c4ff9.unwrap
Temp/output-6864c1247ef17e942b367969bbe47585.unwrap
Temp/output-78602be92403bab428c0673fa6fa63d5.unwrap
Temp/output-7bee4db8aa016214e92f2461e2a5e0a2.unwrap
Temp/output-7e219ebd34c62cd48840cb66afa38a08.unwrap
Temp/output-8ba5bc64b5c09f946a795d1fa7a8e2c2.unwrap
Temp/output-9a538eb1bb92c4945a76545241757aea.unwrap
Temp/output-a4cb2d792bc00c34fa59e8ce31fb70e2.unwrap
Temp/output-cb3e9bc6698958a4a998085359f9718e.unwrap
Temp/output-d5a8f67eaa0d2a04e91b19a2daacfae7.unwrap
Temp/output-e61fe61e82e54a14a98911a4df2b363b.unwrap
Temp/output-eae86efa02ac57548a7227295878cb39.unwrap
Temp/output-ecd345ef41588dd429fa4012938f1104.unwrap
Temp/output-ed5e0ce0bdb888549a3d6312e84ace6b.unwrap
Temp/output-f2dc1b3caa8459b468a982de6a263fb2.unwrap
Temp/output-fa2ac3ce9ea115e47aa191af149748e7.unwrap
Temp/ProcessJobs/377218ff26c344383405bbb91f3afa74.clust
Temp/ProcessJobs/e6e05940a9d1ef3ee23183a9cd8de8b9.clust
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-029747c827f301a41b22cc1d70adbf2c
Temp/UnityTempFile-05d53613af6fe3a4b836c6ab5ec9f756
Temp/UnityTempFile-0799841bc595df84aadb8b9db3eafce4
Temp/UnityTempFile-0b0626119bf20ec4f945c726dd20160d
Temp/UnityTempFile-16c6a008b73ce5b449142ea3a1a8e9be
Temp/UnityTempFile-1701ccc598976a948b496c9e9232a7b2
Temp/UnityTempFile-192810344d557c043b5dd6ffa6d2e521
Temp/UnityTempFile-31b3cd04c93af98479ae83b9c8a0c5db
Temp/UnityTempFile-331737d2f10a48243b69e997c2917307
Temp/UnityTempFile-35dd5590246c6bb4d800c825006464a8
Temp/UnityTempFile-3aa6ef97e11ad6e4fbeb7cd2fb800652
Temp/UnityTempFile-3edfc0ec1221ddf46ae50ead1c34db20
Temp/UnityTempFile-40a31eca690451343bc38555256d27d4
Temp/UnityTempFile-43b148b7bbf5c7b4bb4f1b798b21607f
Temp/UnityTempFile-43ccbcfc988d8174fab4ae19cdba1391
Temp/UnityTempFile-446fb875044a2de45aea51e29802f5f0
Temp/UnityTempFile-45f9daf6061fd7c4b99e0731bc0cd4c5
Temp/UnityTempFile-460a97437f8055647803f6368e8880a8
Temp/UnityTempFile-4c00234c9cfc0514eba53bef51b9d3f6
Temp/UnityTempFile-5055fd6dd67a80a49b0f2538d8eaa86b
Temp/UnityTempFile-522407cb3ba2e2f4bb2791503f3b041b
Temp/UnityTempFile-597f74c0e9105db4c83c4081122a0241
Temp/UnityTempFile-5b6aff5243d85eb4c94e606ff10f3c0f
Temp/UnityTempFile-5cc814adee02ef048aba104a700d55e4
Temp/UnityTempFile-5e6e1187465905343ade882fd24c18b3
Temp/UnityTempFile-5fa549779b5641943967c00fc53bbf78
Temp/UnityTempFile-5fbe02e9e2fcc034f834a5258ce70dff
Temp/UnityTempFile-60e2f997e2bf6aa4f9c0b9890c4419fa
Temp/UnityTempFile-65f7fd5cef2da6e4ea22ec2e5597d139
Temp/UnityTempFile-67291560891eb7447bc36bb1ddb018a0
Temp/UnityTempFile-696ab614745cf014a9215248b6c2829d
Temp/UnityTempFile-6a470f5fd88b88d41b72aec85313b81f
Temp/UnityTempFile-6c686999153541c4f96fa7ad5f7e1e9e
Temp/UnityTempFile-78b7e9c31e38b4e4794e1d99d51b3048
Temp/UnityTempFile-7d46d7f7b4c124c45b373701e5895b18
Temp/UnityTempFile-7eb1fbb424c241d44afba6269f8d2357
Temp/UnityTempFile-84058c69fb42c7149b99c1a9e2264e82
Temp/UnityTempFile-854bcee28f61380448492bbeb4230265
Temp/UnityTempFile-86d1e36d8d174a84b8245a199f1a47e4
Temp/UnityTempFile-870e1c79a1ef6024b8cb504c827eb023
Temp/UnityTempFile-921ce450fe61a084eb9e270f37929552
Temp/UnityTempFile-95a8182f801885c4e8d144f4deb83ef2
Temp/UnityTempFile-97b5bbce8611ff040a430c66b8705285
Temp/UnityTempFile-9adf7002321166c4f92a80b62d47a2a1
Temp/UnityTempFile-9bf889a963c5cd446874a35f2ac7789f
Temp/UnityTempFile-a2716afd87995be41b2fc5325c9369b8
Temp/UnityTempFile-a5365a36d3aacbe46ab77e4ce1861879
Temp/UnityTempFile-ad04474f4f1b3ba4fbd983ef9d1cdc2c
Temp/UnityTempFile-ada4a9fc9a3f057489575c1011b4782b
Temp/UnityTempFile-b1be085062828ba4d97d33d9df029ced
Temp/UnityTempFile-b447342cf6a0b87418845da1b75cbcc2
Temp/UnityTempFile-ba84adb585a44cd4ebefc55b93e29e20
Temp/UnityTempFile-bfa1ff45ad4162445990b589b1dbe138
Temp/UnityTempFile-c573d6658887b7f4e805a6e04b22888d
Temp/UnityTempFile-ce591466fdf0b7140bc7eda48c5af809
Temp/UnityTempFile-cf54eec3c0bd2fc4d8bc02432859da8c
Temp/UnityTempFile-d238e7d0920239c47af680cf52fdda36
Temp/UnityTempFile-d5ca50f7b3e1f1143be3620a07b45dfc
Temp/UnityTempFile-d7fa0e78316d67046ac2ae2ea557e050
Temp/UnityTempFile-de1319566108f3e4db161ba13c7e2cc6
Temp/UnityTempFile-e20eabdc60915a64e96929c48417041e
Temp/UnityTempFile-e4aa53c38e8de8a42a40480000a4c7c6
Temp/UnityTempFile-e7814c0522809ec41b2bad140502d20a
Temp/UnityTempFile-e8b5452e84c968b4f82a37d1d4c6dee4
Temp/UnityTempFile-ef248202b11f60548adbe222d31ada15
Temp/UnityTempFile-f63b1cac123e6214584e263fb0bac236
Temp/UnityTempFile-f6625afc7940ee545b69c0b941cdaad5
Temp/UnityTempFile-f7a3058606dfd624697fd915b07bd1db
Temp/UnityTempFile-fe2b272f1869c4047ae4a1e91a00a3db
Temp/ProcessJobs/1147994ae72726a644ed8d822c61c300.lt
Temp/ProcessJobs/1147994ae72726a644ed8d822c61c300.vis
Temp/ProcessJobs/117d2b6414562b38cf75d6afd9ec384d.lt
Temp/ProcessJobs/117d2b6414562b38cf75d6afd9ec384d.vis
Temp/ProcessJobs/14651f90ab1e32a1ad23fd3c5dd6ee76.lt
Temp/ProcessJobs/14651f90ab1e32a1ad23fd3c5dd6ee76.vis
Temp/ProcessJobs/154fe803b04d54dc3f43bd4d5bd9c0d2.vis
Temp/ProcessJobs/271b5fd77c9288d253db1e587d32b08e.clust
Temp/ProcessJobs/3465bd7cf38ea2ba76dc413e407a3d65.lt
Temp/ProcessJobs/3465bd7cf38ea2ba76dc413e407a3d65.vis
Temp/ProcessJobs/48682c32455f6ebb08883ca0a8b06919.clust
Temp/ProcessJobs/50620b38aff258ea39543dad321a5d69.clust
Temp/ProcessJobs/54700ceda1ee7de3416aebf586baf49e.vis
Temp/ProcessJobs/89d2d5afe55693b4a86a5daf628ef523.clust
Temp/ProcessJobs/953337dc976e95f480122a436c2da845.vis
Temp/ProcessJobs/a31ed32b5140e401103c67c790dd85dc.lt
Temp/ProcessJobs/a31ed32b5140e401103c67c790dd85dc.vis
Temp/ProcessJobs/a33e3fa22904c77fd795b83986811bfa.lt
Temp/ProcessJobs/a33e3fa22904c77fd795b83986811bfa.vis
Temp/ProcessJobs/a71ecafe1151f5ac1f0490849c2ffd6b.clust
Temp/ProcessJobs/a8d10a20ed4e21ffe31755b887e24de9.clust
Temp/ProcessJobs/ad5857b1e33a9795474dd9b56efdcb3e.clust
Temp/ProcessJobs/b8aee11786f7422354711bcc626c08fb.lt
Temp/ProcessJobs/b8aee11786f7422354711bcc626c08fb.vis
Temp/ProcessJobs/c10d9062c92f566fd41447025ce4d423.lt
Temp/ProcessJobs/c10d9062c92f566fd41447025ce4d423.vis
Temp/ProcessJobs/c5aafc28043fd8bfecf8fa3fb5cf3dd2.clust
Temp/ProcessJobs/d436f58af014c0b0f2ade4277374aea5.clust
Temp/ProcessJobs/e2c074725a3f10e3fd63ae8ce33e7933.clust
Temp/ProcessJobs/e508c380f6350b69a8550f760e5d40e4.clust
Temp/ProcessJobs/e58de97b60018af38ae0434be86a602d.vis
Temp/ProcessJobs/e6aa09c51b0c5dca78c9f488181d8c9c.lt
Temp/ProcessJobs/e6aa09c51b0c5dca78c9f488181d8c9c.vis
Temp/ProcessJobs/e6c44ab88b9a20f8e2cc0b4a7278d1b2.vis
Temp/ProcessJobs/fc4a92566e934dd51d7ae99fe670f17d.clust
Temp/ProcessJobs/154fe803b04d54dc3f43bd4d5bd9c0d2.lt
Temp/ProcessJobs/54700ceda1ee7de3416aebf586baf49e.lt
Temp/ProcessJobs/e6c44ab88b9a20f8e2cc0b4a7278d1b2.lt
Temp/ProcessJobs/e58de97b60018af38ae0434be86a602d.lt
Temp/ProcessJobs/953337dc976e95f480122a436c2da845.lt
